<%= stylesheet_link_tag "dev_toolbar" %>
<div class="dev_toolbar">
  <% if defined?(WebGit) %>
    <%= link_to "Git", "/git", class: "dev_tools_button btn btn-outline-secondary" %>
  <% end %>

  <% if defined?(ActiveAdmin) %>
    <%= link_to "Admin", "/admin", class: "dev_tools_button btn btn-outline-secondary" %>
  <% end %>
  <%= link_to "Routes", "/rails/info", class: "dev_tools_button btn btn-outline-secondary" %>
</div>
